
@tailwind base;
@tailwind components;
@tailwind utilities;

/* //////////////////////////////////////////////////// */

.image-description, .likeButton {
  display: none;
}

.showDescription:hover .image-description{
  display: block;
}

.showDescription:hover .likeButton{
  display: block;
}


